body{
    margin: 0;
    padding: 0;
}
.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-right: 100px;
}
// .right {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
.searchBar {
    margin-right: 100px;
}
.searchBar input {
    width: 344px;
    height: 40px;
    // border: 1px solid #e6e4e4;
    border: 1px solid #e4e1e1;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding-left: 15px;
    font-size: 15px;
    color: #878585;
}
.searchBar input::placeholder {
    color: #bdbcbc;
    // padding-left: 10px;
    // font-size: 15px;
}
.searchBar button {
    width: 56px;
    height: 40px;
    border: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #39CDCC;
}
.searchBar button img {
    transform: translateY(20%);
    // transform: translateX(90%);
}
.rightHeader {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
}
.rightHeader a {
    margin-right: 35px;
    font-size: 17px;
    color: #213F7D;
}
.rightHeader img {
    margin-right: 25px;
    cursor: pointer;
}
.rightHeader form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rightHeader form input {
    margin-right: 5px;
}
.rightHeader form select {
    border: none;
    font-size: 16px;
    font-weight: 500;
}